include module.pug
doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1 ,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="renderer" content="webkit")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        block meta
        link(rel="stylesheet" href="../css/common.css")
        block link
    body
        div.g-bd
            block content    
                
        script(src="../lib/jquery2.2.4.js")
        script(src="../js/ajax.js")
        block script
        script(src="../js/page-main.js")
