extends common/layout

block meta
    title index

block link
    link(rel="stylesheet" href="../css/index.css")
 
block script
    script(src='../js/page.js')
    script.
        $(function () {
            // if(document.referrer.indexOf('development.html')>0){
            //     $('.g-bd').animate({scrollTop: $('.g-bd')[0].scrollHeight}, 200, 'linear');
            // }
            var options = {};
 
           const observer = lozad(); // lazy loads elements with default selector as '.lozad'
           observer.observe();
        })

block content
    div.g-tt test 测试
    div.g-ct ddd很多很多或或或或




