doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="renderer" content="webkit")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel="stylesheet" href="../css/common.css")
    body
        div.g-bd
            div.g-ct
                block content
            footer.m-footer
                div.f-cb.top
        script(src="../lib/jquery2.2.4.js")
        script(src="../js/ajax.es6")
        script(src="../js/test.es6")
